body {
  margin: 0;
  padding: 0;
  font-family: var(--font-principale);
  color: var(--couleur-texte);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 100vh;
  width: 100vw;
  background: var(--linear-gradient);
}
.menu-container {
  display: flex;
  justify-content: flex-end;
}
.texte {
  font-size: var(--taille-sous-titre);
  color: var(--couleur-secondaire);
}
.texte2 {
  font-size: var(--taille-sous-titre);
  color: var(--couleur-secondaire);
}

.texte-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
/*boutton*/
form.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
form button {
  background-color: var(--couleur-primaire);
  width: 50%;

  border-radius: 50px;
  background-color: var(--couleur-primaire);
  color: var(--couleur-noir);
  font-family: var(--font-titres);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.bloc-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}
