body {
  margin: 0;
  padding: 0;
  background: var(--linear-gradient);
  font-family: var(--font-principale);
  color: var(--couleur-texte);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
}
.form-header {
  display: flex;
  flex-direction: column;
  gap: 80px;

  text-align: center;
  color: var(--couleur-secondaire);
}
/*titre principal */
.titre-principal {
  font-family: var(--font-titres);
  font-size: var(--taille-titre);
  margin-bottom: var(--padding-petit);
}

/*slogan sus titre*/
.slogan-sous-titre {
  font-size: var(--taille-texte);
  font-family: var(--font-principale);
  align-items: center;
}

/*formulaire*/
.form-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.inscription-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-inscription input {
  padding: var(--padding-petit);
  border: none;

  width: 50%;
  font-family: var(--font-principale);
  background-color: var(--couleur-primaire);

  text-align: center;

  border-radius: 50px;
  color: var(--couleur-noir);

  font-size: 1.2rem;
  cursor: pointer;
}

.form-inscription input::placeholder {
  color: black;
  font-family: var(--font-principale);
}

/*bouton*/
.form-inscription button {
  padding: var(--padding-petit);

  border-radius: 50px;
  background-color: var(--couleur-primaire);
  color: var(--couleur-noir);
  font-family: var(--font-titres);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-inscription button:hover {
  background-color: var(--couleur-secondaire);
}
/*lien de bas de page*/
.lien-connexion {
  margin-top: var(--padding-grand);
  font-size: var(--taille-petit-texte);
  color: var(--couleur-noir);
}

.footer {
  text-align: center;
}
